@import '~@okta/odyssey';
@import '~@okta/prism-theme-odyssey';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

h1, h2, h3, h4, h5, h6 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  .header-anchor {
    font-size: $size-body-sentence;
    padding: 0 $spacing-xs; 
    opacity: 0;
  }

  &:hover .header-anchor {
    opacity: 1;
  }
}

p {
  max-width: 378px;
}

.theme-odyssey {
  max-width: 1440px;
}

.odo-nav {
  padding: $spacing-l;


  h3 {
    font-size: $size-title-5;
  }
  
  header {
    position: sticky;
    top: $spacing-m;
  }
}

.theme-odyssey {
  display: grid;
  grid-template-columns: 318px auto;
}

.odo--article {
  max-width: 960px;
  border: 1px solid $border-color-display;
  margin: $spacing-l auto;
  border-radius: 12px;
  box-shadow: 8px 8px 0 cv('gray', '000');
  padding: $spacing-l $spacing-xl;
}

.ods-nav-vertical {
  .ods-nav-vertical--section {
    margin: $spacing-m 0;
  }

  .ods-vertical-nav--heading {
    font-size: $size-title-6;
  }

  .ods-vertical-nav--list {
    padding-left: $spacing-xs;
  }

  .ods-vertical-nav--list-item {
    list-style-type: none;
    font-size: ms(0);

    a {
      display: block;
      padding: 0 $spacing-s;
      border-radius: $base-border-radius;
      color: cv('gray', '900');
      text-decoration: none;
    }

    &.is-ods-vertical-nav--list-item-selected a {
      background: cv('blue', '500');
      color: $white;
    }
  }
}

.odo-doc-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-m;
  .odo-doc-header--links {
    li {
      margin-bottom: $spacing-s;
    }
  }
}
.ods-button {
  &.is-odo-button-shadow {
    color: cv('blue', '500');
    font-weight: normal;
    background: transparent;
    box-shadow: 4px 4px 0 cv('gray', '000');
    border: 1px solid $border-color-display;
    padding-right: 48px; // temporary

    &:visited {
      color: cv('blue', '500');
    }

    &:hover,
    &:focus {
      background-color: cv('gray', '000');
      border-color: $border-color-display;
    }
  }
}


.ods--example {
  margin-bottom: $spacing-m;
  .ods--rendered {
    border:1px solid $border-color-display;
    padding: $spacing-l;
    border-radius: 6px 6px 0 0;
  }

  div[class*="language-"] pre[class*="language-"] {
    font-size: $size-body-sentence;
    border:1px solid $border-color-display;
    background-color: cv('gray', '000');
    padding: $spacing-m $spacing-l;
    margin: 0;
    code {
      font-family: 'Inconsolata';
    }
  }


  .ods--rendered + div[class*="language-"] pre[class*="language-"] {
    border-top: 0;
    border-radius: 0 0 6px 6px;
  }
}
